<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles.css')}}"> -->
    <title>My page</title>
</head>
<body>
    <div class="container">                                                                                                                                                                                                                                                                   <div class="modal-footer">
        <h1>Welcome on my page!</h1>
        
        <p><a class="btn btn-secondary" href="/logof">log off</a></p>
    </div>
    <div class="table table-striped">
        <h2>Info about me:</h2>
        <p>take info from db</p>
        <h2>List of  my subreddits:</h2>
        <p>take info from db</p>
        
    </div>
    <form action="/add" method ="post">
        <input type="submit"  class="btn btn-primary" value="Add new subreddit">
    </form>
    


    </div> <!--end of container-->
</body>
</html>